from pydantic import BaseModel
from typing import Optional

class {{ class_name }}(BaseModel):
    {% for field in fields %}
    {{ field.name }}: {{ field.typ }}{% if field.optional %} = None{% endif %}
    {% endfor %}
